<table class="table">
  <thead>
    <tr>
    <th>Index</th>
    <th>Even</th>
    <th>Odd</th>
      <th>Name</th>
      <th>Language</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies;let i=index;let even=even;let odd=odd">
     <td>{{i}}</td>
       <td>{{even}}</td>
      <td>{{odd}}</td>
       <td>{{movie.name}}</td>
       <td>{{movie.language}}</td>
       <td>{{movie.rating}}</td>
       <td>{{movie.releaseDate}}</td>
       <td><button (click)="selectedMovie(movie)" class="btn btn-primary">Get Current Movie</button></td>
    </tr>
  </tbody>
</table>
