<!-- {{name}} -->
<!-- <div [innerText]="name" [hidden]="hidden"> -->
<!-- <div [innerText]="name" *ngIf="hidden">
</div>

<button (click)="toggle()"> toggle </button> -->
<!-- <table>
  <thead>
    <tr>
    <th>Index</th>
    <th>Even</th>
    <th>Odd</th>
      <th>Name</th>
      <th>Language</th>
      <th>Rating</th>
      <th>Release Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movieList;let i=index;let even=even;let odd=odd;trackBy:trackBy">
     <td>{{i}}</td>
       <td>{{even}}</td>
      <td>{{odd}}</td>
       <td>{{movie.name}}</td>
       <td>{{movie.language}}</td>
       <td>{{movie.rating}}</td>
       <td>{{movie.releaseDate}}</td>
    </tr>
  </tbody>
</table> -->
<!-- <button (click)="addMovie()">Add Movie</button>
<app-movie></app-movie> -->
<!-- <a routerLink="employee">Employee</a>
<a routerLink="department">Department</a>
<a routerLink="movie">Movie</a>
<router-outlet></router-outlet> -->
<app-main-nav></app-main-nav>
